<% layout('layouts/boilerplate') %>

  <form action="/studios/<%= studio._id %>?_method=PUT" method="POST">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" name="studio[name]" value="<%= studio.name %>">
    </div>
    <div>
      <label for="name">Description: </label>
      <input type="text" id="name" name="studio[description]" value="<%= studio.description %>">
    </div>
    <div>
      <label for="name">Location: </label>
      <input type="text" id="location" name="studio[location]" value="<%= studio.location %>">
    </div>
    <div>
      <label for="price">Price: </label>
      <input type="text" id="price" name="studio[price]" value="<%= studio.price %>">
    </div>
    <button>Submit</button>
  </form>
  <footer>
    <a href="/studios/<%= studio._id  %>">Back to Studio</a>
  </footer>
