<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Studio</title>
</head>

<body>
  <form action="/studios/<%= studio._id %>?_method=PUT" method="POST">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" name="studio[name]" value="<%= studio.name %>">
    </div>
    <div>
      <label for="name">Description: </label>
      <input type="text" id="name" name="studio[description]" value="<%= studio.description %>">
    </div>
    <div>
      <label for="name">Location: </label>
      <input type="text" id="location" name="studio[location]" value="<%= studio.location %>">
    </div>
    <div>
      <label for="price">Price: </label>
      <input type="text" id="price" name="studio[price]" value="<%= studio.price %>">
    </div>
    <button>Submit</button>
  </form>
  <footer>
    <a href="/studios/<%= studio._id  %>">Back to Studio</a>
  </footer>
</body>

</html>
